{% extends "base.html" %}
{% block wrapper_class %}profile-page{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block styles %}



    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

{% endblock %}


{% block content %}
<div class="dashboard-content">

    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-center flash-alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}

    <!-- GREETING -->
    <h1 class="dashboard-greeting">Hello, {{ user.displayname }} !</h1>

    <!-- SEARCH BAR -->
    <div class="search-bar-wrap">
        <input class="search-bar" type="text" placeholder="Search for study partners...">
        <button class="search-btn">Search</button>
    </div>

    <!-- RECOMMENDED -->

    <section class="dash-section">
        {% if matches|length == 0 %}
            <h2 class = "dashboard-greeting" style = "font-size: 30px; margin: 30px; color:#FE9900"> you have no matches yet... </h2>
            <button class="search-btn" style = "font-size: 20px; margin-left: 100px; margin-right: 100px;">Take a quiz</button>
        {% else %}

        <h2 class="dash-section-title">Recommended</h2>
        
        <div id="dashRecommendedCarousel" class="carousel" data-ride="carousel" data-wrap="false" style="width: 90%; align-self: center;">


            <div class="carousel-inner">
                

                {% for i in range(matches|length) %}
                
                {% if i == 0 %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                    
                    <a href="{{ url_for('main.view_user', username = matches[i].username) }}"class="user-card">

                        <div class="user-card-header">
                            <div class="user-card-avatar" style="background: {{ (['#FE9900','#FFBC57','#FFB697','#F79181','#ED553D']*2)[i]}} ">{{ matches[i].displayname[0] | upper }}</div>
                            <span class="user-card-name">{{ matches[i].displayname }}</span>
                        </div>

                        <p class="user-card-bio">{{ matches[i].bio_entry.bio_text if matches[i].bio_entry and matches[i].bio_entry.bio_text else 'No bio added yet.' }}</p>
                        <button class="heart-btn">♡</button>
                    </a>
                    
                </div>
                {% endfor %}
                
            </div>
            <a class="carousel-control-prev" href="#recommendedCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>

            </a>
            <a class="carousel-control-next" href="#recommendedCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>

            </a>
        </div>
        {% endif %}

    </section>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
<script src="{{ url_for('static', filename='js/multi_carousel.js') }}"></script>


{% endblock %}