<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="nav-left">
            <a href="{{ url_for('main.landing_page') }}" class="logo">UniApp</a>
        </div>

        <div class="nav-right">
            

            {% if session.get("user") %}
                <!-- Logged in -->
                <span>Hi, {{ session.get("user") }}</span>
                <a href="{{ url_for('auth.logout') }}" class="btn">Logout</a>
            {% else %}
                <!-- Guest -->
                <a href="{{ url_for('main.about') }}">About</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.signup') }}" class="btn">Sign Up</a>
            {% endif %}
        </div>

    </nav>

    <!-- PAGE CONTENT -->
    {% block content %}{% endblock %}
</body>
</html>