* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background:  #FFDBCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #f0c7ad;
    padding: 40px;
    border-radius: 20px;
    width: 320px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #333;
}

h1{
    font-size: 50px;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    border: none;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;

    border: none;
    border-radius: 10px;

    background: #FE9900;
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ED553D;
}

a {
    color: #FFBC57;
    text-decoration: none;
    font-weight: bold;
}

/* =========================
   NAVBAR
========================= */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 30px;

    background: #FFBC57;   /* ORANGE */
    color: white;
}

/* Logo */
.logo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Right side links */
.nav-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-right .btn {
    background: #FE9900;
    color: white;
    border-radius: 10px;
    padding: 8px 16px;
    font-weight: bold;
}

.nav-right .btn:hover {
    background:  #ED553D
}

/* =========================
   CAROUSEL
========================= */

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #F79181;
    
}




.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    color: #ED553D;
    width: 100px;
}




.carousel-control-prev-icon:after {
    content: "\25C0";
    font-size: 50px;
    align-items: center;
}

.carousel-control-next-icon:after {
    content: "\25B6"; 
    font-size: 50px;
    opacity: 1;
    justify-content: center;
}

.carousel-inner {

    width: 1200px;
    height: 400px;
    box-sizing: border-box;
    text-align: left;
}

.carousel-image {
    float: left;
    border-radius: 30%;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 200px;
 
}

.carousel-text {
    
    margin: 50px;
    margin-top: 100px;
    line-height: 1.2;
    display: inline-block;
    color: #333;
    font-weight: bold;

}


/* =========================
   LANDING
========================= */

.landing .btn {
    background: #FFBC57;
    color: white;
    border-color:#FFDBCC;
    border-width: 3px;
    border-radius: 30px;
    padding: 8px 50px;
    margin: 20px 20px;
    font-size: 20px;
    font-weight: bold;
}

.landing .btn:hover {
    background: #ED553D;
    border-color:#ED553D;
    
}
