.card {
    background: #f0c7ad !important;
    width: 420px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,1);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    min-height: 320px;
}

/* Inputs */
.card input {
    width: 100%;
    padding: 12px 12px 12px 15px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: all 0.2s ease;
}

input:hover {
    box-shadow: 0 6px 18px rgba(231, 111, 81, 0.3);
    background: white;
}

/* Button */
.card button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;

    background: linear-gradient(180deg, #f47c6b, #e76f51);
    color: white;
    font-weight: bold;

    box-shadow: 0 6px 16px rgba(231, 111, 81, 0.3);
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
}

/* Extra text */
.extra {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}

.extra a {
    color: #e76f51;
    text-decoration: none;
}

/* Form structure */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group p {
    margin: 30px 0 5px 0;
    text-align: left;
}

.flash-alert {
    transition: all 0.5s ease;
}

.flash-hide {
    opacity: 0;
    transform: translateY(-10px);
}

.forgot-password {
    text-align: right;
    margin-top: 5px;
}

.forgot-password a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    color: #ff3300;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.form-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    position: absolute;
    width: 100%;
    transform: translateY(20px);
}

.form-container.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    transform: translate(0);
}