.card {
    background: #f0c7ad !important;
    width: 420px;
    max-width: 90vw;
    padding: 40px;
    box-shadow: 0 12px 40px rgba(0,0,0,0.08);
    border: none;
    margin: 60px auto;
    overflow: hidden;
    min-height: 320px;
    border-radius: 20px;
    position: relative;
}

/* Inputs */
.card input {
    width: 100%;
    padding: 12px 12px 12px 15px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    transition: all 0.2s ease;
}

input:hover {
    box-shadow: 0 6px 18px rgba(255, 149, 138, 0.25);
    background: white;
}

/* Button */
.card button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: #FF958A;
    color: white;
    font-weight: bold;
    box-shadow: 0 6px 16px rgba(255, 149, 138, 0.3);
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background: #F07066;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(240, 112, 102, 0.35);
}

/* Extra text */
.extra {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}

.extra a {
    color: #F28A80;
    text-decoration: none;
}

/* Form structure */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group p {
    margin: 30px 0 5px 0;
    text-align: left;
    color: #666;
}

.flash-alert {
    transition: all 0.5s ease;
}

.flash-hide {
    opacity: 0;
    transform: translateY(-10px);
}

.forgot-password {
    text-align: right;
    margin-top: 5px;
}

.forgot-password a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    color: #F28A80;
}

.forgot-password a:hover {
    color: #F07066;
    text-decoration: underline;
}

.form-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    position: absolute;
    width: 100%;
    transform: translateY(20px);
}

.form-container.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    transform: translate(0);
}