/*basic quiz page styling*/
.quizzes-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 24px;
    font-family: Arial, sans-serif;
    color: #333333;
}

.quizzes-header {
    margin-bottom: 30px;
}

.quizzes-header h1 {
    color: #F07060;
    margin-bottom: 8px;
}

.quizzes-header p {
    color: #666666;
}

/*Quizzes overall progress bar for the user based on their completed quizzes*/
.overall-progress-section {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 16px;
    margin-bottom: 40px;
}

.overall-progress-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #666666;
}

.overall-prograss-bar-tracking {
    background: #eeeeee;
    height: 10px;
}

.overall-progress-bar-filling {
    height: 100%;
    width: 0%;
    background: #f07060
}